{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class='container-fluid my-0 px-0'>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x900/?delhi" class="d-block w-100" alt="..."   height="400">
        {% comment %} <img src="/static/1.jpg" class="d-block w-100" alt="..."   height="600"> {% endcomment %}
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:black;">Delhi's most trusted bank since 1950</h5>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x900/?bank" class="d-block w-100" alt="..."   height="400">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:black;">50+ Branches pan-India</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x900/?savings" class="d-block w-100" alt="..."   height="400">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:black;">Fortune India – Grant Thornton Bharat’s study of India’s Best Banks 2022</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> 
<div class="container my-3">
<h2 class='my-2 text-center'>Services accorded:-</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
       <img src=" https://source.unsplash.com/1600x900/?loan ">
        <div class="card-body">
          <p class="card-text"><b>Advancing of Loans</b></p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <img src="  https://source.unsplash.com/1600x900/?currency ">
        <div class="card-body">
          <p class="card-text"><b>Foreign Currency Exchange</b></p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="  https://source.unsplash.com/1600x900/?consultant "> 
        <div class="card-body">
          <p class="card-text"><b>Consultancy</b></p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
    

    
    
    
  </div>
</div>  

{% endblock body %}
